.loading-map {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
}

.map-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.search-container {
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #fff;
  z-index: 999;
  padding: 5px;
  width: 250px;
}
