.loading-map {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
}

.map-container {

  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  
}
